* {
  box-sizing: border-box;
  margin: 0;
}
body {
    font-family: Avenir;
    font-size: 16px;
    padding: 10px;
}
a {
  color: #FFA923;
  text-decoration: none;
}
q {
  font-style: italic;
}
.error {
  color: firebrick;
}
.success {
  color: forestgreen;
}
.title {
    color: dodgerblue;
    font-size: 1.3rem;
    margin: 15px 0;
}
.input[type=text] {
    box-shadow: 0px 0.1px 2px 0.9px #696666;
    border: none;
    padding: 5px 10px 5px 20px;
    height: 32px;
}
.btn {
    outline: none;
    align-items: center;
    background-color: transparent;
    border: 1px solid;
    border-radius: .3rem;
    cursor: pointer;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    min-width: 220px;
    font-size: 1.1rem;
    padding: 5px;
    margin-bottom: 15px;
}
.btn:hover {
    color: white;
    background-color: dodgerblue;
}
p {
    box-shadow: -0.9px 0.1px 6.1px 0.2px #696666;
    border-radius: .1rem;
    max-width: 600px;
    padding: 10px;
    margin: 15px 0;
}
.tools {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 320px;
  max-width: 50%;
  padding: 20px 20px 0 0;
}
.block {
  height: 64px;
  flex: 0 0 64px;
  background: #FFA923;
  transform: rotate(0deg);
  transition: all .5s linear;
}
.block.is-active {
  background: #BADA55;
  transform: rotate(360deg);
}
